<div class="well">
  <form class="form" method="post" action="/tweets/submit">
    <div class="form-group">
      <label for="name">Name</label>
      {% if mode == 'ALL' %}
      <input class="form-control" name="name" id="name" />
      {% else %}
      <input class="form-control" name="name" id="name" value="{{tweets[0].name}}" />
      {% endif %}
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <input class="form-control" name="text" id="text" />
    </div>
    <button class="btn btn-primary">Submit Tweet</button>
  </form>
</div>
